<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siemens.osa.data.cs.mapper.ConfigInfoMapper">
    <resultMap id="configList" type="ConfigInfo">
        <id property="timestamp" column="timestamp"></id>
        <id property="id" column="id"></id>
        <result property="os" column="os"></result>
        <result property="rule_id" column="rule_id"></result>
        <result property="type" column="type"></result>
        <result property="data" column="data" jdbcType="ARRAY" typeHandler="com.siemens.osa.data.cs.config.ArrayTypeHandler"></result>
        <result property="param" column="param" jdbcType="ARRAY" typeHandler="com.siemens.osa.data.cs.config.ArrayTypeHandler"></result>
    </resultMap>

    <!--    List<ConfigInfo> getAllConfig();-->
    <select id="getAllConfig" resultMap="configList">
        select * from config
    </select>

    <!--    Map<String,ConfigInfo> getConfigById(@Param("id") Integer id);-->
    <select id="getConfigById" resultMap="configList">
        select * from config where id = #{id}
    </select>

    <!--    List<String> getConfigListById(@Param("id") Integer id, @Param("ruleId") String ruleId);-->
    <select id="getConfigListById" resultType="String">
        select data from config where id = #{id} and rule_id = #{ruleId}
    </select>
</mapper>
