<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siemens.osa.data.cs.mapper.ResultInfoMapper">
    <!--    List<ResultInfo> getAllResult();-->
    <select id="getAllResult" resultType="ResultInfo">
        select * from result
    </select>

    <!--    Map<String, ResultInfo> getResultById(@Param("id") Integer id);-->
    <select id="getResultById" resultType="ResultInfo">
        select * from result where id = #{id}
    </select>

    <!--    List<String> getResultListById(@Param("id") Integer id, @Param("ruleId") String ruleId);-->
    <select id="getResultListById" resultType="String">
        select expected from result where id = #{id} and rule_id = #{ruleId}
    </select>

    <!--    void updateResult(@Param("id") Integer id, @Param("ruleId") String ruleId, @Param("actual") String[] actual, @Param("status") String status);-->
    <update id="updateResult">
        update result set actual = #{actual}, status = #{status} where id = #{id} and rule_id = #{ruleId}
    </update>
</mapper>
