<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siemens.osa.data.cs.mapper.ResultInfoMapper">
    <!--    List<ResultInfo> getAllResult();-->
    <select id="getAllResult" resultType="ResultInfo">
        select * from result
    </select>

    <!--    Map<String, ResultInfo> getResultById(@Param("id") Integer id);-->
    <select id="getResultById" resultType="ResultInfo">
        select * from result where id = #{id}
    </select>

    <!--    void addResult(@Param("timestamp") Timestamp timestamp, @Param("id") Integer id, @Param("os") String os,-->
    <!--    @Param("server_ip") String server_ip, @Param("host_ip") String host_ip, @Param("rule_id") String rule_id,-->
    <!--    @Param("expected") String expected, @Param("actual") String actual, @Param("status") String status);-->
    <insert id="addResult" parameterType="ResultInfo">
        insert into result(timestamp, id, os, server_ip, host_ip, rule_id, expected, actual, status)
        values(#{timestamp}, #{id}, #{os}, #{server_ip}::inet, #{host_ip}::inet, #{rule_id}, #{expected}::text[], #{actual}::text[], #{status})
    </insert>

<!--    void updateResult(@Param("id") Integer id, @Param("ruleId") String ruleId, @Param("actual") String[] actual, @Param("status") String status);-->
<!--    <update id="updateResult">-->
<!--        update result set actual = #{actual}, status = #{status} where id = #{id} and rule_id = #{ruleId}-->
<!--    </update>-->
</mapper>
