<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siemens.osa.data.cs.mapper.ResultInfoMapper">
    <resultMap id="resultList" type="ResultInfo">
        <id property="timestamp" column="timestamp"></id>
        <id property="id" column="id"></id>
        <result property="os" column="os"></result>
        <result property="rule_id" column="rule_id"></result>
        <result property="server_ip" column="server_ip"></result>
        <result property="host_ip" column="host_ip"></result>
        <result property="status" column="status"></result>
        <result property="expected" column="expected" jdbcType="ARRAY" typeHandler="com.siemens.osa.data.cs.config.ArrayTypeHandler"></result>
        <result property="actual" column="actual" jdbcType="ARRAY" typeHandler="com.siemens.osa.data.cs.config.ArrayTypeHandler"></result>
    </resultMap>

    <!--    List<ResultInfo> getAllResult();-->
    <select id="getAllResult" resultMap="resultList">
        select * from result
    </select>

    <!--    Map<String, ResultInfo> getResultById(@Param("id") Integer id);-->
    <select id="getResultById" resultMap="resultList">
        select * from result where id = #{id}
    </select>

    <!--    void addResult(@Param("timestamp") Timestamp timestamp, @Param("id") Integer id, @Param("os") String os,-->
    <!--    @Param("server_ip") String server_ip, @Param("host_ip") String host_ip, @Param("rule_id") String rule_id,-->
    <!--    @Param("expected") List<String> expected, @Param("actual") List<String> actual, @Param("status") String status);-->
    <!--    expected 和 actual 在 PostgreSQL中为 text[]，需要加上大括号，实质是转化成了 String 传参-->
    <insert id="addResult" parameterType="ResultInfo">
        insert into result(timestamp, id, os, server_ip, host_ip, rule_id, expected, actual, status)
        values(#{timestamp}, #{id}, #{os}, #{server_ip}::inet, #{host_ip}::inet, #{rule_id},
        <foreach collection="expected" item="expectedItem" index="index" open="'{" separator="," close="}'"> ${expectedItem} </foreach>::text[],
        <foreach collection="actual" item="actualItem" index="index" open="'{" separator="," close="}'"> ${actualItem} </foreach>::text[], #{status})
    </insert>
    <insert id="addResult0" parameterType="ResultInfo">
        insert into result(timestamp, id, os, server_ip, host_ip, rule_id, status)
        values(#{timestamp}, #{id}, #{os}, #{server_ip}::inet, #{host_ip}::inet, #{rule_id}, #{status})
    </insert>
    <insert id="addResult1" parameterType="ResultInfo">
        insert into result(timestamp, id, os, server_ip, host_ip, rule_id, expected, status)
        values(#{timestamp}, #{id}, #{os}, #{server_ip}::inet, #{host_ip}::inet, #{rule_id},
        <foreach collection="expected" item="expectedItem" index="index" open="'{" separator="," close="}'"> ${expectedItem} </foreach>::text[], #{status})
    </insert>
    <insert id="addResult2" parameterType="ResultInfo">
        insert into result(timestamp, id, os, server_ip, host_ip, rule_id, actual, status)
        values(#{timestamp}, #{id}, #{os}, #{server_ip}::inet, #{host_ip}::inet, #{rule_id},
        <foreach collection="actual" item="actualItem" index="index" open="'{" separator="," close="}'"> ${actualItem} </foreach>::text[], #{status})
    </insert>
    <!--    <insert id="addResult" parameterType="Result">-->
    <!--            insert into result(timestamp, id, os, server_ip, host_ip, rule_id, expected, actual, status)-->
    <!--            values(#{timestamp}, #{id}, #{os}, #{server_ip}::inet, #{host_ip}::inet, #{rule_id}, #{expected}::text[], #{actual}::text[], #{status})-->
    <!--    </insert>-->

    <!--    void updateResult(@Param("id") Integer id, @Param("ruleId") String ruleId, @Param("actual") String[] actual, @Param("status") String status);-->
    <!--    <update id="updateResult">-->
    <!--        update result set actual = #{actual}, status = #{status} where id = #{id} and rule_id = #{ruleId}-->
    <!--    </update>-->
</mapper>
